@import "tailwindcss";

/* === Default (亮色主題) === */
@theme {
  /* === 主色：橘色系 === */
  --color-primary: #ff5722b3);

  /* 輔助色 */
  --color-secondary: #9ca3af; /* 灰色 */
  --color-success: #16a34a; /* 綠色 */
  --color-danger: #dc2626; /* 紅色 */
  --color-warning: #facc15; /* 黃色 */

  /* 介面底色 */
  --color-background: #fff7ed;
  --color-surface: #ffffff;
  --color-border: #f97316/20%;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
}

/* === 暗色主題（Dark Mode）=== */
@theme .dark {
  --color-primary: #fb923c;
  --color-primary-600: #f97316;
  --color-background: #1c1917;
  --color-surface: #292524;
  --color-border: #3f3f46;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
}
